.footer {
    background-color: #414141;
    padding-top: 2.5rem;
    padding-bottom: 4.375rem;
    @include respond-to(max-width, 1254px) {
        display: none;
    }
    .ft-list {
        &:not(:last-of-type) {
            margin-bottom: 0.25rem;
        }
        & > li {
            color: #acacac;
            position: relative;
            font-weight: normal;
            letter-spacing: -0.03em;
            & > a {
                color: #acacac;
            }
            &:not(:last-of-type) {
                &::after {
                    content: '';
                    width: 1px;
                    height: 0.8125rem;
                    background-color: #acacac;
                    display: inline-block;;
                    margin-top: -0.65rem;
                    margin: 0 0.75rem;
                }
            }
        }
    }
}

.layout-ft {
    background-color: white;
    .layout {
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
        .grid {
            .ft-btn {
                background-image: url('../images/ico-arrow_grey.png');
                background-repeat: no-repeat;
                background-position: 0.16rem center;
                padding-left: 1.625rem;
                padding-right: 3.125rem;
                height: 2.5rem;
                border-right: 1px solid #EBEBEB;
            }
            .btn-wrap {
                margin-left: auto;
                .btn {
                    font-size: 1rem;
                    font-weight: 500;
                    padding: 1rem 4.25rem;
                    &:not(:last-of-type) {
                        margin-right: 0.5rem;
                    }
                }
            }
            .subscribe-box {
                margin-left: auto;
                .profile-img {
                    width:2.875rem;
                    height: 2.875rem;
                }
                .profile-name {
                    font-size: 1.125rem;
                }
                .profile-icons {
                    & > li {
                        font-size: 0.8125rem;
                        color: black;
                    }
                }
                .profile-btn {
                    border: 1px solid $main-color;
                    color: $main-color;
                    height: 2.5rem;
                    padding: 0 1.125rem;
                    font-size: 1rem;
                    line-height: 1;
                    font-weight: normal;
                    margin-left: 6.25rem;
                }
            }
        }
    }
}