.logo-hd {
    text-align: center;
    margin-top: 3.75rem;
    .logo {
        & > img {
            width: 4.5rem;
            height: auto;
        }
    }
}
.header {
    background-color: white;
    .layout {
        justify-content: space-between;
        border-bottom: 1px solid #ebebeb;
        height: 5.625rem;
    }
    .logo {
        & > a {
            & > img {
                width: 2.625rem;
                height: auto;
                margin-top: 0.25rem;
            }
        }
    }
    .header-title {
        padding: 4.1875rem 0;
        text-align: center;
        background-color: white;
        font-size: 1.625rem;
        font-weight: 500;
        color: black;
    }
    .main-nav {
        height: 100%;
        .main-nav__list {
            height: 100%;
            & > li {
                height: 100%;
                & > a {
                    font-weight: normal;
                    font-size: 1.125rem;
                    height: 100%;
                    padding: 0 4.375rem;
                    display: block;
                    & > span {
                        display: inline-flex;
                        align-items: center;
                        position: relative;
                        height: 100%;
                    }
                    &.active, &:hover, &:focus {
                        color: $main-color;
                        font-weight: 500;
                        & > span {
                            &::after {
                                content: '';
                                width: 100%;
                                height: 0.25rem;
                                background-color: $main-color;
                                display: block;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-btn {
        width: 5.625rem;
        height: 100%;
        cursor: pointer;
    }
}