.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 300;
    display: none;
    &.active {
        display: block;
    }
    &.info-modal {
        .modal-container {
            width: 32.875rem;
            .modal-body {
                padding-left: 2.625rem;
                padding-right: 2.625rem;
            }
        }
    }
    &.alert-modal {
        .modal-container {
            width: 32.5rem;
            .modal-body {
                border-radius: 10px;
                padding: 3.7rem 2.625rem 2.625rem;
                .alert-title {
                    text-align: center;
                    font-size: 1.625rem;
                    font-weight: 500;
                    margin-bottom: 1.75rem;
                    & > strong {
                        color: $main-color;
                        font-weight: 500;
                    }
                }
                .alert-txt {
                    text-align: center;
                    font-size: 1.25rem;
                    color: #8B8B8B;
                    font-weight: normal;
                }
                .bottom-btns {
                    margin-top: 2.5rem;
                    .btn {
                        &:first-of-type {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
    .modal-container {
        position: relative;
        -webkit-transform: translate(0);
        transform: translate(0);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 2rem;
        height: 100%;
        padding: 1.5rem 0;
        border-radius: .25rem;

        margin: 0 auto;
        width: 50%;
        max-width: 100%;
        min-width: 20rem;
    }
    .modal-header {
        border: 1px solid #D3D3D3;
        background-color: white;
        border-bottom: 0;
        padding: 2rem;
        text-align: center;
        position: relative;
        .modal-title {
            font-size: 1.625rem;
            font-weight: 500;
            @include textoverflow();
        }
        .modal-close {
            width: 2.5rem;
            height: 2.5rem;
            padding: 0;
            position: absolute;
            top: 1.875rem;
            right: 1.875rem;
            & > img {
                width: 1.25rem;
                height: auto;
            }
        }
    }
    .modal-body {
        overflow: hidden;
        overflow-y: auto;
        background-color: white;
        border: 1px solid #D3D3D3;
        border-top: 0;
        padding: 0.875rem 4rem 5rem 4rem;
        
        .modal-body__section {
            margin-bottom: 1.875rem;
            
            &:last-of-type {
                margin-bottom: 4.375rem;
            }
            .section-title {
                font-size: 1rem;
                font-weight: bold;
                padding: 0 1rem 1.875rem 1rem;
            }

            .my-channel {
                background-color: #fafafa;
                border: 0;
                margin-bottom: 0;
                border-bottom: 1px solid #EBEBEB;
                border-top: 1px solid #EBEBEB;
            }
            .h-channel-section__list {
                padding: 0 1rem;
                & > li {
                    &:not(:last-of-type) {
                        margin-bottom: 0.875rem;
                    }
                    .col-wrap {
                        .col-img {
                            .channel-bookmark {
                                width: 1rem;
                                height: 1.25rem;
                                bottom: 0.625rem;
                                right: 0.625rem;
                            }
                        }
                        .col-txt {
                            .col-title {
                                font-size: 0.875rem;
                            }
                            .col-date {
                                font-size: 0.75rem;
                            }
                        }
                    }
                }
            }
        }

        .modal-profile {
            text-align: center;
            padding: 0.875rem 0 4.375rem 0;
            .profile-img {
                width: 6.875rem;
                height: 6.875rem;
                border-radius: 50%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin: 0 auto;
                margin-bottom: 1.875rem;
            }
            .profile-change {
                color: #A7A7A7;
                font-size: 0.875rem;
                font-weight: normal;
                letter-spacing: -0.03em;
            }
            .profile-btns {
                & > li {
                    &:not(:last-of-type) {
                        margin-right: 0.9375rem;
                    }
                    & > button {
                        font-size: 0.875rem;
                        color: #A7A7A7;
                        font-weight: 500;
                        line-height: 1;
                        padding: 0;
                        & > img {
                            margin-right: 0.3125rem;
                        }
                    }
                }
            }
        }

        .modal-body__title {
            background-color: #FAFAFA;
            height: 3.5rem;
            border-top: 1px solid #EBEBEB;
            border-bottom: 1px solid #EBEBEB;
            padding: 0 2rem 0 1rem;
            .title {
                font-size: 1rem;
                font-weight: 500;
                margin-right: 0.5rem;
                @include textoverflow();
            }
            .date {
                color: #5A5A5A;
                font-size: 1rem;
                font-weight: normal;
            }
        }
        .modal-body__textarea {
            padding: 1.5rem 1rem;
            min-height: 15rem;
            border-bottom: 1px solid #EBEBEB;
            white-space: pre-line;
        }
    }
    .bottom-btns {
        padding: 0 2.5rem;
        &.full {
            padding: 0;
        }
    }
    .bottom-btn {
        font-size: 1rem;
        font-weight: 500;
        padding-top: 1.125rem;
        padding-bottom: 1.125rem;
    }

    .mark-wrap {
        &:not(:last-of-type) {
            margin-bottom: 2.5rem;
        }
        .mark-title {
            font-size: 1rem;
            color: #5A5A5A;
            font-weight: normal;
            margin-bottom: 0.875rem;
        }
    }
    .mark-list__wrap {
        margin-top: 2.5rem;
    }
    .text-area__wrap {
        .text-area__content {
            background-color: #FAFAFA;
            border: 1px solid #EBEBEB;
            border-radius: 4px;
            font-size: 1rem;
            font-weight: normal;
            white-space: pre-line;
            padding: 1.625rem;
            height: 18.75rem;
            overflow-y: auto;
        }
    }
}