.channelList-layout {
    padding: 4.375rem 0 12.5rem 0;
    .container {
        background-color: white;
        padding: 8.125rem 8rem;

        .channel-section__list {
            margin-left: -25px;
            margin-right: -25px;
            & > li {
                padding-left: 25px;
                padding-right: 25px;
                margin-bottom: 2.5rem;
                .col-img {
                    .channel-bookmark {
                        width: 1rem;
                        height: 1.25rem;
                    }
                }
                .col-wrap {
                    border: 0;
                    border-radius: 0;
                    .col-txt {
                        & > a {
                            display: block;
                            margin-bottom: 2.5rem;
                        }
                        padding: 1.25rem 0 0;
                        .col-title {
                            font-size: 0.875rem;
                            font-weight: normal;
                        }
                        .profile-icons {
                            & > li:nth-of-type(2) {
                                margin-right: 0.25rem;
                            }
                        }
                    }
                }
            }
        }
    }

    &.has-tab {
        .container {
            padding: 0;
            [role="tabpanel"] {
                padding: 8.125rem 8rem;
                position: relative;
            }
        }

        .channel-detail__section {
            width: 746px;
            margin: 0 auto;
        }
    }
    .channel-list__tab {
        & > [role="tab"] {
            flex: 1 1 auto;
            font-size: 1rem;
            font-weight: 500;
            color: #606060;
            background-color: #f1f1f1;
            border-bottom: 2px solid $main-color;
            padding: 1.25rem 0.5rem;

            &[aria-selected="true"] {
                color: $main-color;
                background-color: white;
                border: 2px solid $main-color;
                border-bottom: 0;
            }
        }
    }
    .contents-add__btn {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: $main-color;
        box-shadow: 3px 3px 10px rgba(181, 30, 36, 0.24);
        position: absolute;
        bottom: 9rem;
        right: -6.25rem;
        background-image: url('../images/ico-add_wh.svg');
        background-size: 1.5rem;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 100;
    }
}