.home-layout {
    .container {
        padding-left: 75px;
        padding-right: 75px;
    }
    .site-section {
        margin-bottom: 5.625rem;
    }
    .channel-section {
        margin-bottom: 5.625rem;
        .channel-section__title {
            margin-bottom: 2.5rem;
        }
    }

    .counselor-section {
        margin-bottom: 5.625rem;
        .ad-box {
            margin-right: 3.9375rem;
        }
        .counselor-wrap {
            flex: 1 1 auto;
            .linked-title {
                margin-bottom: 2rem;
            }
            .counselor-list {
                & > li {
                    width: 20%;
                    .profile-wrap {
                        text-align: center;
                        display: block;
                        & > p {
                            color: #585858;
                            font-size: 0.75rem;
                            font-weight: normal;
                        }
                    }
                    .profile-img {
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        background-image: url('../images/default-person.png');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin: 0 auto;
                    }
                    .profile-name {
                        font-size: 0.875rem;
                        font-weight: 500;
                        letter-spacing: -0.03em;
                        margin-bottom: 0.375rem;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    .notice-section {
        .linked-title {
            margin-bottom: 2.5rem;
        }
        .notice-secition__list {
            margin-left: -11px;
            margin-right: -11px;
            & > li {
                padding-left: 11px;
                padding-right: 11px;
                .col-wrap {
                    border: 1px solid #F0F0F0;
                    border-radius: 4px;
                    overflow: hidden;
                    height: 100%;
                    .ad-box {
                        height: 100%;
                    }
                    .col-img {
                        padding-top: 53.5%;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        position: relative;
                    }
                    .col-txt {
                        & > a {
                            padding: 1.375rem 1.6875rem;
                            display: block;
                        }
                        .col-title {
                            font-size: 1rem;
                            font-weight: bold;
                            margin-bottom: 0.625rem;
                        }
                        .col-desc {
                            font-size: 0.875rem;
                            font-weight: normal;
                            color: #393939;
                            word-break: keep-all;
                        }
                    }
                }
            }
        }
    }
}

.search-layout {
    .container {
        padding: 4rem 75px;

        .search-section {
            .search-form {
                height: 5rem;
            }
            .search-input {
                border: 2px solid $main-color;
                border-radius: 4px 0 0 4px;
                padding-left: 4rem;
                background-image: url('../images/ico-search.svg');
                background-position: 2.125rem center;
                background-repeat: no-repeat;
                background-size: 0.75rem;
                &::placeholder {
                    color: #767676;
                    font-size: 1.125rem;
                    font-weight: normal;
                }
            }
            .search-btn {
                width: 13.25rem;
                height: 100%;
                color: white;
                background-color: $main-color;
                font-size: 1.125rem;
                font-weight: 500;
                border-radius: 0 4px 4px 0;
            }
        }
    }
}

.c-home-layout {
    .container {
        padding: 5.125rem 75px;
        .c-home__section {
            background-color: white;
        }
        .site-section__title {
            border-bottom: 1px solid #EBEBEB;
            padding-top: 2.125rem;
            padding-bottom: 2.125rem;
            margin: 0;
        }
        .c-home__content {
            padding: 3.25rem 6.625rem;
        }
    }
}

.site-section__title {
    margin-bottom: 2.1875rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    & > strong {
        color: $main-color;
    }
}