.saveList-layout {
    .container {
        padding-left: 0;
        padding-right: 0;
        padding-top: 1.5rem;
    }
    .site-list__section {
        padding-top: 9.375rem;
    }
    .counselor-list__section {
        padding-left: 7.9375rem;
        padding-right: 7.9375rem;
        padding: 3.125rem 7.9375rem 0;
        &:not(:last-of-type) {
            .counselor-wrap {
                border-bottom: 1px solid #EBEBEB;
            }
        }
        .counselor-location {
            text-align: center;
            margin-bottom: 4.75rem;
        }
        .counselor-section__list {
            margin-left: -48.2px;
            margin-right: -48.2px;
            & > li {
                padding-left: 48.2px;
                padding-right: 48.2px;
                margin-bottom: 3.125rem;
            }
        }
    }

    .channel-abbr__section {
        padding-top: 4.45rem;
        padding-left: 7.8125rem;
        padding-right: 7.8125rem;
    }

    

    .save-list__tab {
        border-bottom: 1px solid #EBEBEB;
        button {
            width: 25%;
            height: 3.75rem;
            line-height: 3.75rem;
            display: block;
            & > span {
                height: 100%;
                position: relative;
                display: inline-block;
                pointer-events: none;
            }
            &[aria-selected="true"] {
                & > span {
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 0.25rem;
                        background-color: $main-color;
                        width: 100%;
                    }
                }
            }
        }
    }
}